*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    text-transform: capitalize;
}

nav{
    background:linear-gradient(to right , pink , white);;
    background-color: pink;
     display: flex;
     justify-content: space-around ;
     align-items: center;
    padding: 10px 0px;
    position: fixed;
    width: 100%;
 text-emphasis-color: pink;

}
.Navbar{
    text-emphasis-color: pink;
}
.carousel-inner{
     height: 100vh;
}

.carousel-inner .carousel-item{
    width: 100%;
    height: 100%;

}
div.img{
    height: 100hv;
}

.carousel-inner .carousel-item img{
    width: 100%;
    height: 100%;

}
.card img{
    height: 70%;
    width: 100%;

}

.disc{
    width: 400px;
    background-color:pink;
    text-align: center;
    padding: 20px;
    transform: translate(200px,0px);

}

.disc h2{
    font-size: 40px;
}
.disc p{
    margin: 15px 0px;
}
.disc button{
    width: 80px;
    height: 30px ;

}

.social{
     /* width: 60px;
  background-color: rgba(255, 255, 255, 0.305); */
}
.social div{
    /* تباعد خارجي */
    /* margin: 8px 0px ; */
    /* حتى حط الايقونات بالنص يا بحط التيكست الاين يا دسبلي وجست فاي والاين */
    /* text-align: center; */ 
    /* background-color: pink;s */
    /* display: flex;
    justify-content: center;
    align-items: center; */
} 
.home-page{
    height: 100vh;
    background-color: pink;
    display: flex;
    justify-content: space-between;
    align-items: center;

}

/* end home page */
/* start footer */
footer{
    padding: 20px;
    text-align: center;
    position: fixed;
    bottom: 0px;
    width: 100%;
}

.social div i:hover{
    color:white;
    cursor: pointer;
    transform: rotate(360deg);
    transition: 0.8s;
}
.sec-3 {
    background-color: pink;

}

.sec-2 .card:hover{
    filter: grayscale(0%);
 
       background-color: pink;
       transition: 0.5s;
       box-shadow: 10px 10px 10px pink;
   } 
   .social div{
     width: 50px;
    height: 50px;
    border: 1px solid black;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;

    padding: 20px; 
}
   .social div{
    /* تباعد خارجي */
    margin: 8px 8px ;
    /* حتى حط الايقونات بالنص يا بحط التيكست الاين يا دسبلي وجست فاي والاين */
    /* text-align: center;  */
    background-color: pink;
    text-align: center;
 
   
}

.footer{
    padding: 20px;
    text-align: center;
    position: fixed;
    bottom: 0px;
    width: 100%;
 
}


.navbar-brand {
    color: black;

}

.x {
    background-color:pink;
}